/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the assignment.

    Good luck, and have fun!
*/

.display-area img {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 350px;
    border: 5px solid black;
    background-color: white;
    margin: 1px 1px 1px 1px;
    padding: 5px 5px 5px 5px;
}

.display-area-2 img {
    width: 100px;
    position: absolute;
    top: 20px;
    right: 350px;
    border: 5px solid black;
    background-color: white;
    margin: 1px 1px 1px 1px;
    padding: 5px 5px 5px 5px;
}

.display-area-3 img {
    width: 100px;
    position: absolute;
    bottom: 200px;
    right: 0px;
    border: 5px solid black;
    background-color: whitesmoke;
    margin: 1px 1px 1px 1px;
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    text-align: center;
}
