* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.center-column {
    background-color: lightblue;
    width: 50%; 
    min-width: 500px;
    margin: 0px auto; 
}